main,
.map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

//////

.wrapper {
    width: 1024px;
    margin: 0 auto;
}


.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(105, 237, 100);
    line-height: 30px;
}

.operation-system, .browser {
    font-size: 12px;
    line-height: 5px;
}